{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}

{% block title %}login{% endblock %}


{% block content %}

    <div class="container bg-light shadow-md p-5 form-layout">

        <h3>Log in to your account</h3>
        
        <hr>
        <br>

        <form action="" method="post" autocomplete="off">
            {% csrf_token %}

            {{ form|crispy }}

            <br>

            <button class="btn btn-primary w-100 btn-block p-2" type="submit">Log in</button>

        </form>

        <br>

        <div class="text-center">
            <p>Don't have an account?</p><a href="{% url 'register' %}">Register</a>
        </div>

    </div>

{% endblock %}



