{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}

{% block title %}register{% endblock %}


{% block content %}

    <div class="container bg-light shadow-md p-5 form-layout">

        <h3>Create your account</h3>
        <br>
        <h5>Start managing your clients today!</h5>
        <hr>
        <br>

        <form action="" method="post" autocomplete="off">
            {% csrf_token %}

            {{ form.username|as_crispy_field }}
            <br>
            {{ form.password1|as_crispy_field }}
            <br>
            {{ form.password2|as_crispy_field }}

            <br>

            <button class="btn btn-primary w-100 btn-block p-2" type="submit">Create account&nbsp;<i class="fa fa-user-plus" aria-hidden="true"></i></button>

        </form>

        <br>

        <div class="text-center">
            <p>Already have an account?</p><a class="text-decoration-none" href="{% url 'login' %}">Log in &nbsp;<i class="fa fa-key" aria-hidden="true"></i>
            </a>
        </div>

    </div>

{% endblock %}



