{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}


{% block title %}
    view
{% endblock title %}

    

{% block content %}
    
<div class="card p-3">

    <strong>

        {{ record.last_name|upper }}
        
        {{ record.first_name }}

    </strong>

    <div class="card-body">

        <p><strong>ID: </strong>{{ record.id }}</p>
        <p><strong>Email: </strong>{{ record.email }}</p>
        <p><strong>Phone number: </strong>{{ record.phone }}</p>
        <p><strong>Address: </strong>{{ record.address }}</p>
        <p><strong>City: </strong>{{ record.city }}</p>
        <p><strong>Provice: </strong>{{ record.province }}</p>
        <p><strong>Country: </strong>{{ record.country }}</p>
        <p><strong>Created on: </strong>{{ record.creation_date }}</p>
        
    </div>
</div>



{% endblock content %}
    





