{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}


{% block title %}
    view
{% endblock title %}

    

{% block content %}
    
    <div class="card p-3">

        <strong>

            <i class="fa fa-user" aria-hidden="true"></i>
            &nbsp;
            {{ record.last_name|upper }}
            
            {{ record.first_name }} 


        </strong>

        <div class="card-body">

            <p><strong>ID: </strong>{{ record.id }}</p><br>
            <p><strong>Email: </strong>{{ record.email }}</p><br>
            <p><strong>Phone number: </strong>{{ record.phone }}</p><br>
            <p><strong>Address: </strong>{{ record.address }}</p><br>
            <p><strong>City: </strong>{{ record.city }}</p><br>
            <p><strong>Provice: </strong>{{ record.province }}</p><br>
            <p><strong>Country: </strong>{{ record.country }}</p><br>
            <p><strong>Created on: </strong>{{ record.creation_date }}</p>
            
        </div>
    </div>

    <br>

    <a href="{% url 'dashboard' %}" class="btn btn-secondary"> Return &nbsp;<i class="fa fa-long-arrow-left" aria-hidden="true"></i>

    </a>

    &nbsp;

    <a href="{% url 'update-record' record.id %}" class="btn btn-info"> Update &nbsp;<i class="fa fa-pencil" aria-hidden="true"></i>
    </a>

    &nbsp;

    <a href="{% url 'delete-record' record.id %}" class="btn btn-danger"> Delete &nbsp;<i class="fa fa-trash" aria-hidden="true"></i>
    </a>


{% endblock content %}
    





